@model IEnumerable<CourseList.Models.CourseLists>

@{
    ViewData["Title"] = "Index";
}

<br />
<br />
<div id="styletext"><p>Vælg det fag du ønsker at se tips for</p></div>
<br />
<br />

<div id="CenterEverything">
    <select name="Course" id="Courses">
        @foreach (var item in Model)
        {
            <option value="@Html.DisplayFor(modelItem => item.CourseName)">@Html.DisplayFor(modelItem => item.CourseName)</option>
        }
    </select>
    <br />
    <br />
    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index"><input class="gotobtn" type="submit" value="Gå til"></a>
</div>


